@import '../../scss/utils//vars.scss';

.input {
  display: block;
  width: 100%;
  max-width: 300px;
  height: 45px;
  margin: 0 auto;
  padding: 12px 18px;
  line-height: 45px;
  border-radius: 10px;
  color: $colorTextLight;
  background-color: $colorDark;

  & + & {
    margin-top: 32px;
  }
}