@font-face {
	font-family: 'Lexend Deca';
	src: url('../../assets/fonts/LexendDeca/LexendDeca-Regular.eot');
	src: url('../../assets/fonts/LexendDeca/LexendDeca-Regular.woff') format('woff'), 
  url('../../assets/fonts/LexendDeca/LexendDeca-Regular.ttf') format('truetype'), 
  url('../../assets/fonts/LexendDeca/LexendDeca-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../../assets/fonts/Inter/Regular/Inter-Regular.eot'),
		url('../../assets/fonts/Inter/Regular/Inter-Regular.otf') format('opentype'),
		url('../../assets/fonts/Inter/Regular/Inter-Regular.svg') format('svg'),
		url('../../assets/fonts/Inter/Regular/Inter-Regular.ttf') format('truetype'),
		url('../../assets/fonts/Inter/Regular/Inter-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../../assets/fonts/Inter/Italic/Inter-Italic.eot'),
		url('../../assets/fonts/Inter/Italic/Inter-Italic.otf') format('opentype'),
		url('../../assets/fonts/Inter/Italic/Inter-Italic.svg') format('svg'),
		url('../../assets/fonts/Inter/Italic/Inter-Italic.ttf') format('truetype'),
		url('../../assets/fonts/Inter/Italic/Inter-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Inter';
	src: url('../../assets/fonts/Inter/Bold/Inter-Bold.eot'),
		url('../../assets/fonts/Inter/Bold/Inter-Bold.otf') format('opentype'),
		url('../../assets/fonts/Inter/Bold/Inter-Bold.svg') format('svg'),
		url('../../assets/fonts/Inter/Bold/Inter-Bold.ttf') format('truetype'),
		url('../../assets/fonts/Inter/Bold/Inter-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}