//Fonts
$fontMain: 'Lexend Deca', Arial, sans-serif;
$fontSecondary: 'Inter', Georgia, monospace;
$fontSizeTitle: 4.57rem;
$fontSizeSubtitle: 1.15rem;
$fontSizeMain: 16px;

// colors
$colorTextMain: #000000;
$colorTextLight: #FFFFFF;
$colorDark: #093545;
$colorDarkLess: #224957;
$colorDarkLeast: #e5e5e521;
$colorLight: #20DF7F;
$colorLightLess: hsl(150, 75%, 25%);
$colorImportant: #f6a40b;
$colorImportantLight: #f5c05f;
$colorErrorDark: #c61616;
$colorErrorLight: #bf5757;


$heightHeader: 100px;
$heightFooter: 70px;