//Fonts
$fontMain: 'Lexend Deca', Arial, sans-serif;
$fontSizeTitle: 4.57rem;
$fontSizeSubtitle: 1.15rem;

// colors
$colorTextMain: #000000;
$colorTextLight: #FFFFFF;
$colorBackground: #093545;
$colorDark: #224957;
$colorLight: #20DF7F;