@import 'utils/vars.scss';

.message {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: inherit;

  &_main {
    font-size: $fontSizeTitle;
  }

  &_secondary {
    font-size: $fontSizeSubtitle;
    color: $colorErrorLight;
  }
}