@import 'utils/vars.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: calc(100vh - 100px - 70px);
  min-height: 500px;
  padding-bottom: 47px;

  &_light {
    background-color: $colorTextLight;
  }

  &_dark {
    background-color: $colorDark;
  }
}