@import 'utils/fonts';
@import 'utils/vars';

*,
*::before,
*::after {
  box-sizing: border-box;
};

html {
  font-family: $fontMain;
  font-size: $fontSizeMain;
}

body {
  margin: 0;
  padding: 0;
}
