@import 'utils/vars.scss';

.container {
  display: table;
  width: 100%;
  min-width: 320px;
  height: calc(100vh - 170px);
  min-height: 300px;
  background: $colorDark;
}

.message {
  display: table-cell;
  vertical-align: middle;
  font-size: $fontSizeTitle;
  text-align: center;
  color: $colorTextLight;
}